/* 
    Document   : styles
    Created on : 2013-03-22, 15:56:04
    Author     : goobar
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

canvas#gameWindow {
    background-color: black;
    border-color: white;
    border-style: solid;
    margin: 0;
    border-radius: 10px;
}

img {
    display: none;
}

body {
    background: url("images/background.jpg") center center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: greenyellow;
    overflow: hidden;
}

#content {
    width: 1024px;
    height: 730px;
    margin: auto;
    align-content: center;
}

audio {
    display: none;
}